@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

.flex{
    display: flex;
    align-items: center;
}

*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
}

input[type=text], select {
    width: 15em;
    height: 2em;
    padding: 5px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: white;
    padding: 0.35em 0.5em;
    border: 1px solid #188cbd;
    border-radius: 4px;
    transition-duration: 0.4s;
}
  
button:hover {
    background-color: #188cbd;
    color: white;
}

header{
    justify-content: space-between;
    height: 5vh;
    padding: 0.5em 1em;
}

section:first-of-type{
    background: #f8edeb;
    padding: 0.5em 1em;
}

main {
    padding: 0;
    display: flex;
}

.search{
    padding-left: 1em;
}

#mapid { 
    height: 95vh;
    width: 80vw;
}